<app-navigate-bar></app-navigate-bar>
<h3> Users </h3>
<div class = "container table-responsive ">
  <table class="table">
    <thead>
    <tr>
      <th> Username </th>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Email </th>
      <th> Role </th>
      <th> Update </th>
      <th> Delete </th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let user of users">
      <td *ngIf="user.role !== 'ADMIN'"> {{user.username}} </td>
      <td *ngIf="user.role !== 'ADMIN'"> {{user.firstName}} </td>
      <td *ngIf="user.role !== 'ADMIN'"> {{user.lastName}} </td>
      <td *ngIf="user.role !== 'ADMIN'"> {{user.email}} </td>
      <td *ngIf="user.role !== 'ADMIN'"><label for="role-fld{{user.id}}"></label>
        <select id="role-fld{{user.id}}" class="form-control" >
          <option [defaultSelected]="user.role=== 'USER'" value="USER" >User</option>
        <option [defaultSelected]="user.role=== 'EDITOR'" value="EDITOR">Editor</option>

<!--        <option [defaultSelected]="user.role=== 'ADMIN'" value="ADMIN">Admin</option>-->
      </select></td>
      <td *ngIf="user.role !== 'ADMIN'"> <button (click)="updateUserRole(user)"> update </button> </td>
      <td *ngIf="user.role !== 'ADMIN'"> <button (click)="deleteUser(user.id)"> delete </button></td>
<!--      <td> selected role: {{role}}</td>-->

    </tr>
    </tbody>
  </table>

</div>
