<nav class="navbar navbar-inverse navbar-toggleable-md fixed-top navbar-dark bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="clicked()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <label class="navbar-brand d-none d-lg-block newsHeader">
    News Anytime!
  </label>
  <input class="col-8"  type="text" placeholder="Search articles..." [(ngModel)]="searchWord"/>
  <a routerLink="/search/{{searchWord}}" class ="btn-danger"> Search </a>
  <a routerLink="/login" class="loginLink" [hidden]="isLoggedIn">Login</a>
  <a routerLink="" class="loginLink" [hidden]="!isLoggedIn" (click)="logoutUser()">Logout</a>

  <div class="navbar-collapse collapse" [ngbCollapse]="isCollapsed" id="collapsingNavbar2">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a routerLink="/create-article" routerLinkActive="active" class="nav-link" [hidden]="!isEditor">Write an Article</a>
      </li>
      <li>
        <label>Categories</label>
      </li>
      <li class="nav-item active">
        <a routerLink="/category/Politics" routerLinkActive="active" class="nav-link">Politics</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/category/Education" routerLinkActive="active" class="nav-link">Education</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/category/Technology" routerLinkActive="active" class="nav-link">Technology</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/category/Financial" routerLinkActive="active" class="nav-link">Economy</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/category/Sports" routerLinkActive="active" class="nav-link">Sports</a>
      </li>
    </ul>
  </div>
</nav>

