<!--<nav class="navbar navbar-inverse navbar-toggleable-md navbar-dark bg-primary">-->
<!--  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->


<!--  <label class="navbar-brand d-none d-lg-block newsHeader">-->
<!--    News Anytime!-->
<!--  </label>-->
<!--  <input class="col-8"  type="text" placeholder="Search articles..." [(ngModel)]="searchWord"/>-->
<!--  <a routerLink="/search/{{searchWord}}" class ="btn-danger"> Search </a>-->
<!--</nav>-->

<nav class="navbar navbar-inverse navbar-toggleable-md fixed-top navbar-dark bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <label class="navbar-brand d-none d-lg-block newsHeader">
    News Anytime!
  </label>
  <input class="col-8"  type="text" placeholder="Search articles..." [(ngModel)]="searchWord"/>
  <a routerLink="/search/{{searchWord}}" class ="btn-danger"> Search </a>
<!--  <a href="/" class="navbar-brand">News Anytime</a>-->

  <div class="navbar-collapse collapse" [ngbCollapse]="isCollapsed" id="collapsingNavbar2">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/register" routerLinkActive="active" class="nav-link">Sign Up</a>
      </li>
      <li>
        <label>Categories</label>
      </li>
      <li class="nav-item active">
        <a routerLink="/search/politics" routerLinkActive="active" class="nav-link">Politics</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/search/education" routerLinkActive="active" class="nav-link">Education</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/search/technology" routerLinkActive="active" class="nav-link">Technology</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/search/economy" routerLinkActive="active" class="nav-link">Economy</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/search/sports" routerLinkActive="active" class="nav-link">Sports</a>
      </li>
    </ul>
  </div>
</nav>

