<app-navigate-bar></app-navigate-bar>
<div class="top-header container-flex">
  <div class="row">
    <h1> {{ this.article.title}}</h1>
  </div>
  <div class="row">
    <p>Written by <a routerLink="/profile/{{this.article.authorId}}"> {{this.article.author}} </a> on
      <span> {{this.article.publishedDate}}</span></p>
  </div>
  <div class="row">
    <img src="{{this.article.imageUrl}}" width="400px" height="400px"/>
  </div>
  <div class="row">
    <p>
      {{this.article.desc}}
    </p>
  </div>
  <div class="likesDiv row">
    <button class="btn btn-outline-dark col-sm-1" (click)="likeClicked()"
            [disabled]="isAlreadyLiked" *ngIf="!hideLikes">
      <i class="fa fa-thumbs-up"></i>
      Like
    </button>
    <div class="col-sm-3"></div>
    <label class="lblLikeCount col-sm-3">{{likeCount}} Likes</label>
  </div>
  <div class="comments-div row" *ngIf="!hideLikes">
    <input class="col-lg-10" type="text" placeholder="Enter comment"
    [(ngModel)]="comment"/>
    <button (click)="postComment()" class="post-btn col-sm-1">Post</button>
  </div>
  <div class="row">Comments</div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let c of comments">
      <div>
        <span>{{c.comment}}</span>
        <button *ngIf="userid === c.userId" (click)="deleteComment(c.id)"
                style="float: right; border: hidden"><i class="fa fa-times"></i></button>
      </div>
    </li>
  </ul>
</div>

