<div class="container-flex">
  <div class="row">
    <h1> {{ this.article.title}}</h1>
  </div>
  <div class="row">
    Written by <a routerLink="/profile/editors/">{{this.article.author}} </a> on
    <span>{{this.article.publishedDate}}</span>
  </div>
  <div class="row">
    <img src="{{this.article.imageUrl}}" width="700px" height="1000px"/>
  </div>
  <div class="row">
    <p>
      {{this.article.desc}}
    </p>
  </div>
  <div class="row">
    <label class="col-sm-3">Liked Users</label>
    <button class="col-sm-1" (click)="likeClicked()">
    <i class="fa fa-thumbs-up"></i>
      Like
    </button>
  </div>
  <div class=" comments-div row">
    <input class="col-lg-10" type="text" placeholder="Enter comment"
    [(ngModel)]="comment"/>
    <button (click)="postComment()" class="post-btn col-sm-1">Post</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let c of comments">
      <div>
        <span>{{c.comment}}</span>
<!--        <i *ngIf="c.postedBy === userid" style="float: right" class="fa fa-times" aria-hidden="true"></i>-->
        <button (click)="deleteComment(c.id)"
                style="float: right; border: hidden"><i class="fa fa-times" aria-hidden="true"></i></button>
      </div>
    </li>
  </ul>
</div>

