<div class="container">
  <div class="alert alert-primary" role="alert">
    Edit Editor Profile
  </div>
  <div class="form-group row contentDiv">
    <label for="username" class="wbdv-field wbdv-username col-sm-2 col-form-label">
      Username </label>
    <div class="col-sm-10">
      <input class="form-control wbdv-field wbdv-username"
             id="username"
             placeholder="username" disabled="true">
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="wbdv-field wbdv-password col-sm-2 col-form-label">
      New Password </label>
    <div class="col-sm-10">
      <input type="password" class="form-control wbdv-field wbdv-password"
             id="password" placeholder="password" [(ngModel)]="pwd">
    </div>
  </div>
  <div class="form-group row">
  <label for="password" class="wbdv-field wbdv-password col-sm-2 col-form-label">
    Confirm Password </label>
  <div class="col-sm-10">
    <input type="password" class="form-control wbdv-field wbdv-password"
           id="password_confirm" placeholder="password" [(ngModel)]="c_pwd">
  </div>
</div>
  <div class="form-group row">
    <label for="password" class="wbdv-field wbdv-password col-sm-2 col-form-label">
      Confirm Password </label>
    <div class="col-sm-10">
      <input type="phone" class="form-control wbdv-field wbdv-password"
             id="phone" placeholder="(857)-999-9999" [(ngModel)]="phone_no">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <button class="btn btn-primary btn-block wbdv-button wbdv-login" (click)="update()">
        Update
      </button>
    </div>
  </div>
</div>
