<!--<h1>Search News Articles</h1>-->
<!--<h3>Number of articles: {{articles.length}}</h3>-->
<!--<br/>-->
<!--<label>-->
<!--  <input type = "text"  [(ngModel)]="searchWord">-->
<!--  <button (click)="searchNews()"> Search </button>-->
<!--</label>-->
<!--<ul class="list-group">-->
<!--  <li class="list-group-item" *ngFor="let article of articles">-->
<!--    <a routerLink="/{{searchWord}}/{{articles.indexOf(article)}}"> {{article.title}}</a>-->
<!--  </li>-->

<!--</ul>-->
<app-navigate-bar></app-navigate-bar>
<h1 class="top-header">Today's Top Stories</h1>
<ul class="list-group">
  <li class="list-group-item"
      *ngFor="let article of articles">
    <a href="{{article.url}}"> {{article.title}} </a>
  </li>
</ul>
