<div class="container">
  <div>
    <h1>Register</h1>
  </div>
  <form (ngSubmit)="register()">
    <div class="form-group row">
      <label for="username" class="wbdv-field wbdv-username col-sm-2 col-form-label">
        Username </label>
      <div class="col-sm-10">
        <input name="username" [(ngModel)]="username" class="form-control wbdv-field wbdv-username"
               id="username" placeholder="Enter username">
      </div>
    </div>
    <div class="form-group row">
      <label for="password" class="wbdv-field  col-sm-2 col-form-label">
        Password </label>
      <div class="col-sm-10">
        <input name="password" [(ngModel)]="password" type="password" class="form-control wbdv-field"
               id="password" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group row">
      <label for="firstName" class="wbdv-field  col-sm-2 col-form-label">
        First Name </label>
      <div class="col-sm-10">
        <input id="firstName" name="firstName" [(ngModel)]="firstName" class="form-control wbdv-field" >
      </div>
    </div>
    <div class="form-group row">
      <label for="lastName" class="wbdv-field  col-sm-2 col-form-label">
        Last Name </label>
      <div class="col-sm-10">
        <input id="lastName" [(ngModel)]="lastName" name="lastName" class="form-control wbdv-field">
      </div>
    </div>
    <div class="form-group row">
      <label for="phoneNumber" class="wbdv-field wbdv-phone col-sm-2 col-form-label">
        Phone </label>
      <div class="col-sm-10">
        <input name="phoneNumber" [(ngModel)]="phoneNumber" type="number" class="form-control wbdv-field wbdv-phone"
               id="phoneNumber"
               placeholder="(XXX)-XXX-XXXX">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="wbdv-field wbdv-email col-sm-2 col-form-label">
        Email </label>
      <div class="col-sm-10">
        <input name="email" [(ngModel)]="email" type="email" class="form-control wbdv-field wbdv-email"
               id="email"
               placeholder="xxx@abc.com">
      </div>
    </div>
    <div class="form-group row">
      <label for="dateOfBirth" class="wbdv-field wbdv-dob col-sm-2 col-form-label">
        Date of Birth
      </label>
      <div class="col-sm-10">
        <input id="dateOfBirth" name="dateOfBirth" (ngModelChange)="dateOfBirth = $event" [ngModel]="dateOfBirth |
        date:'yyyy-MM-dd'" type="date"
               class="form-control wbdv-field wbdv-dob">
      </div>
    </div>
    <div class="form-group row">
      <label class="wbdv-field wbdv-userrole col-sm-2 col-form-label" for="userRole">User Role</label>
      <div class="col-sm-10 ">
        <select name="userRole" id="userRole" required [(ngModel)]="userRole"
                class="form-control">
          <option value="USER">USER</option>
          <option value="EDITOR">EDITOR</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="wbdv-field wbdv-fav-category col-sm-2 col-form-label">Favourite Category</label>
      <div class="form-check">
        <label class="form-check-label">
          <input name="politicscbox" [(ngModel)]="politicscbox" type="checkbox" class="form-check-input"
                 value="POLITICS">Politics
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input name="sportscbox" [(ngModel)]="sportscbox" type="checkbox" class="form-check-input" value="SPORTS">Sports
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input name="educationcbox" [(ngModel)]="educationcbox" type="checkbox" class="form-check-input" value="EDUCATION">Education
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input name="technologycbox" [(ngModel)]="technologycbox" type="checkbox" class="form-check-input" value="TECHNOLOGY">Technology
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input name="economycbox" [(ngModel)]="economycbox" type="checkbox" class="form-check-input"
                 value="ECONOMY">Financial
        </label>
      </div>
    </div>
    <div class="form-group row">
      <label class="wbdv-field wbdv-dob col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <button class="btn btn-space btn-success btn-primary btn-block wbdv-button wbdv-update">
          Register
        </button>
      </div>
    </div>
  </form>
  <button (click)="openDialog()">Read our privacy policy here!</button>
</div>
